@import url("https://fonts.googleapis.com/css2? family= Courgette & display=swap");

body {
  margin: 0;
  overflow: hidden;
}

header {
  /* color: blue; */
  position: absolute;
  display: flex;
  padding: 50px;
}

h1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: rgb(0, 0, 0);
}

span {
  font-family: "Work Sans";
  font-size: 15px;
  letter-spacing: 0.1em;
}

.nom {
  font-style: italic;
}

nav {
  padding-left: 120vh;
  cursor: pointer;
}

a {
  color: rgb(0, 0, 0);
  padding: 0 30px;
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

txt {
  display: flex;
  align-items: center;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
  float: right;
  margin-left: 20px;
}

.container-contact {
  position: relative;
}

.title-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20%;
  font-size: 50px;

  /* font-family: ; */
}

/* .lien-contact-cv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
} */

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 40%;
}

.container-txt{
  padding-top: 30%;
  font-family: "Roboto", sans-serif;
}



.lien-contact-mail:hover {
  color: white;
}
