
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  margin: 0;
  overflow: hidden;
}

header {
  /* background-color: red; */
  position: absolute;
  display: flex;
  width: 100%;
}

.container-infos-nav {
  /* background-color: saddlebrown; */
  padding-top: 5vw;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.6em;
  padding: 0 30px;
  font-family:  'Bebas Neue';
}

.navigation {
  /* background-color: salmon; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  left: 20px;
}

.logo-contact {
  width: 200px;
  height: auto;
  padding: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
