body{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-ouverture{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100px;
  height: 100px;

}


.modal{
  background-color: blue;
}

.modal-content{
  background-color: rgb(19, 139, 99);
}